# Frontend
FRONTEND_EXTERNAL_PORT=3000

# Backend
BACKEND_EXTERNAL_PORT=8080

# RabbitMQ
RABBITMQ_PORT_UI=15672
RABBITMQ_PORT_AMQP=5672

# Postgres
POSTGRES_DB=evaluator
POSTGRES_USER=admin
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
