# Frontend
FRONTEND_EXTERNAL_PORT=3000

# Backend
BACKEND_EXTERNAL_PORT=8080
BACKEND_HOST = 0.0.0.0
READ_TIMEOUT_IN_SEC  = 10
WRITE_TIMEOUT_IN_SEC = 10
IDLE_TIMEOUT_IN_SEC = 15
SHUTDOWN_TIMEOUT_IN_SEC = 3

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT_UI=15672
RABBITMQ_PORT_AMQP=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PHOTO_QUEUE_NAME=photos_queue

# Postgres
POSTGRES_HOST=postgres
POSTGRES_DB=evaluator
POSTGRES_USER=admin
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432